@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
    font-family: 'Spoqa Han Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: inherit;
}
a:hover {
    color: red;
}



body {
    .container {
        margin: 0 auto;
        max-width: 40rem;
        header {
            .title {
                font-size: 3rem;
                line-height: 5rem;
            }
            .info {
                line-height: 1.8rem;
                padding: 0.8rem;
            }
        }

        section {
            padding: 0.6rem 0.8rem;
            article {
                ul {
                    line-height: 1.8rem;
                }
            }
        }

        footer {
            padding: 0.4rem 0;
            text-align: center;            
            i {
                font-size: 2rem;
                margin: 0 0.5rem;
            }
        }
    }
}
